*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.img img{
   width: 70%;
   
}
.said{
    width: 100%;
    top: o;
    left: 0;
   
    object-fit: cover;

    
}